In [1]:
import pandas as pd
import numpy as np

# Look at pop data

In [2]:
path = 'data/input/static/demographics/UBOS_pop_proj_2015-25.csv'

df = pd.read_csv(path)
df[['age','del']]=df['Single Years'].str.split(" ", expand=True)
df.drop(columns=['Single Years','del','FY','Year2'],inplace=True)
df

       District  Year  Male  Female  Total age
0          ABIM  2015  1950    2030   3980   0
1          ABIM  2016  2050    2130   4180   0
2          ABIM  2017  2150    2240   4390   0
3          ABIM  2018  2260    2350   4610   0
4          ABIM  2019  2370    2460   4830   0
...         ...   ...   ...     ...    ...  ..
120280    ZOMBO  2021  4770    4340   9110   9
120281    ZOMBO  2022  4910    4460   9370   9
120282    ZOMBO  2023  5040    4560   9600   9
120283    ZOMBO  2024  5180    4670   9850   9
120284    ZOMBO  2025  5310    4780  10090   9

[120285 rows x 6 columns]

# Test data for John Kissa

In [ ]:
pd.DataFrame(data=columns.values(), index=columns.keys()
             ).to_csv('./data/columns.csv', index=True)

In [6]:

df_data = pd.read_csv('data/output/outlier_data.csv')

df_district = pd.read_csv('data/input/static/facility_districts.csv')

In [7]:
df=pd.merge(df_data,df_district,how='left',left_on='orgUnit',right_on='id')

In [10]:
df=df[['district',
       'name','orgUnit', 'year', 'month', '1st_anc_visits', '4th_anc_visits',
       'actual_105_1_reporting', 'anc_initiated_hiv', 'anc_tested_hiv',
       'anc_tested_hiv_positive', 'bcg', 'births', 'births_fresh_stillbirth',
       'births_live', 'births_macerated_stillbirth', 'dpt1', 'dpt3',
       'expected_105_1_reporting', 'hiv_positive_linked', 'hpv1', 'hpv2',
       'ipd_attendance', 'low_weight_births', 'malaria_cases',
       'malaria_cases_treated', 'malaria_deaths', 'malaria_tests',
       'mam_identified', 'mat_initiated_hiv', 'mat_tested_hiv',
       'mat_tested_hiv_positive', 'maternity_admissions', 'mr1',
       'newborn_deaths', 'opd_attendance', 'pcv1', 'pcv3', 'pnc_initiated_hiv',
       'pnc_tested_hiv', 'pnc_tested_hiv_positive', 'postnatal_visits',
       'sam_identified', 'tb_cases_registered', 'td1', 'td2', 'td3', 'td4_5',
       'tested_hiv', 'tested_hiv_positive', 'vitamin_a']]

In [13]:
target_districts=['AMUDAT','KAMPALA','TORORO', 'KUMI', 'WAKISO', 'PADER', 'NAPAK', 'ARUA', 'BUKEDEA']

In [14]:
df_t=df[df.district.isin(target_districts)]

In [16]:
df_t.to_csv('test_outlier_data.csv')

# Look at 'defualt column'

In [4]:
USECOLS = list(range(0, 9))

DTYPES = {'Unnamed: 0': int,
          'dataElement': str,
          'period': str,
          'orgUnit': str,
          'categoryOptionCombo': str,
          'attributeOptionCombo': str,
          'value': object,
          'storedBy': str,
          'created': str,
          'lastUpdated': str}

In [7]:
new = pd.read_csv('data/input/dhis2/processed/new_main_2020_Jul.csv',usecols=USECOLS,dtype=DTYPES)

In [8]:
old = pd.read_csv('data/input/dhis2/processed/old_main_2019_Jul.csv',usecols=USECOLS,dtype=DTYPES)

In [ ]:
config = pd.read_csv('config/variable_correspondance.csv')

In [21]:
def get_breakdown(indics):
    print(old[old.dataElement==indics[0]]['categoryOptionCombo'].unique())
    print(new[new.dataElement==indics[1]]['categoryOptionCombo'].unique())

In [24]:
indics=[['105-2.11 Measles','105-CL16. Measles (MR1)'],
        ['105-2.11 DPT-HepB+Hib 3','105-CL10. DPT-HepB+Hib 3'],
        ['105-2.9 Tetanus Immunization Dose 1','105-TD01. Td1-Dose 1'],
        ['105-4 Number of clients who have been linked to care','105-HT03a3. Total Linked to HIV Care'],
        ['Malaria Cases - WEP','033B-CD01a. Malaria (diagnosed)  - Cases']]

for x in indics:
    get_breakdown(x)

['Under 1, Static, Male' 'Under 1, Static, Female'
 'Under 1, Outreach, Male' 'Under 1, Outreach, Female'
 '1-4 Yrs, Static, Male' '1-4 Yrs, Outreach, Male'
 '1-4 Yrs, Outreach, Female' '1-4 Yrs, Static, Female']
['<1Yr, Static' '<1Yr, Outreach' '1-4Yrs, Outreach' '1-4Yrs, Static'
 '5-14Yrs, Static' '5-14Yrs, Outreach']
['Under 1, Static, Male' 'Under 1, Static, Female'
 'Under 1, Outreach, Female' 'Under 1, Outreach, Male'
 '1-4 Yrs, Static, Male' '1-4 Yrs, Static, Female'
 '1-4 Yrs, Outreach, Male' '1-4 Yrs, Outreach, Female']
['1-4Yrs, Static' '<1Yr, Outreach' '<1Yr, Static' '1-4Yrs, Outreach'
 '5-14Yrs, Static' '5-14Yrs, Outreach']
['Pregnant Women, Static' 'Non Pregnant Women, Static'
 'Pregnant Women, Outreach' 'Non Pregnant Women, Outreach'
 'Immunization in School, Outreach']
['Pregnant Women, Static' 'Pregnant Women, Outreach'
 'Non-Pregnant Women, School' 'Non-Pregnant Women, Outreach'
 'Non-Pregnant Women, Static']
['19-<49 Years, Male' '>49 Years, Male' '>49 Years, Female'
 '15-<19 Years, Female' '19-<49 Years, Female' '15-<19 Years, Male'
 '5-<10 Years, Female' '10-<15 Years, Male' '18 Mths-<5 Years, Male'
 '5-<10 Years, Male' '18 Mths-<5 Years, Female' '10-<15 Years, Female']
['40-44Yrs, Female' '35-39Yrs, Male' '30-34Yrs, Female' '30-34Yrs, Male'
 '25-29Yrs, Male' '15-19Yrs, Male' '25-29Yrs, Female' '35-39Yrs, Female'
 '15-19Yrs, Female' '20-24Yrs, Female' '50+Yrs, Male' '45-49Yrs, Male'
 '20-24Yrs, Male' '40-44Yrs, Male' '45-49Yrs, Female' '50+Yrs, Female']
['default']
['default']

In [71]:
a=np.sort(new[new.dataElement=='105-CL16. Measles (MR1)']['categoryOptionCombo'].unique())
print(a)

['1-4Yrs, Outreach' '1-4Yrs, Static' '5-14Yrs, Outreach' '5-14Yrs, Static'
 '<1Yr, Outreach' '<1Yr, Static']

In [72]:
def get_breakdown(config, old, new):
    
    config_new=list(config[config['instance']=='new']['name'])
    config_old=list(config[config['instance']=='old']['name'])
    
    new_out= pd.DataFrame(columns=['breakdown'])
    for x in config_new:
        new_out.loc[x,'breakdown'] = np.sort(new[new.dataElement==x]['categoryOptionCombo'].unique())
    
    old_out= pd.DataFrame(columns=['breakdown'])
    for x in config_old:
        old_out.loc[x,'breakdown'] = np.sort(old[old.dataElement==x]['categoryOptionCombo'].unique())
    
    new_out['instance']='new'    
    old_out['instance']='old'     
   
    out= pd.concat([old_out,new_out])
                                 
    return out

In [73]:
breakdown = get_breakdown(config=config, old=old, new=new).reset_index(inplace=True)

In [74]:
breakdown

In [59]:
config2

,name,instance,domain,identifier,display_name,type,index,breakdown
0,105-CL01. BCG,new,EPI,bcg,BCG vaccines administered,float,105-CL01. BCG,"[<1Yr, Static, <1Yr, Outreach, 1-4Yrs, Static,..."
1,105-2.11 BCG,old,EPI,bcg,BCG vaccines administered,float,105-2.11 BCG,"[Under 1, Static, Male, Under 1, Static, Femal..."
2,105-CL08. DPT-HepB+Hib 1,new,EPI,dpt1,DPT1 vaccines administered,float,105-CL08. DPT-HepB+Hib 1,"[1-4Yrs, Static, <1Yr, Outreach, 1-4Yrs, Outre..."
3,105-2.11 DPT-HepB+Hib 1,old,EPI,dpt1,DPT1 vaccines administered,float,105-2.11 DPT-HepB+Hib 1,"[Under 1, Static, Male, Under 1, Static, Femal..."
4,105-CL10. DPT-HepB+Hib 3,new,EPI,dpt3,DPT3 vaccines administered,float,105-CL10. DPT-HepB+Hib 3,"[1-4Yrs, Static, <1Yr, Outreach, <1Yr, Static,..."
...,...,...,...,...,...,...,...,...
111,HMIS 105:1 Actual reports,old,REPORT,actual_105_1_reporting,facilities actually reporting on their 105:1 form,float,HMIS 105:1 Actual reports,[]
112,105-TP04. Total New and relapse TB cases regis...,new,TB,tb_cases_registered,TB cases registered in treatment unit,float,105-TP04. Total New and relapse TB cases regis...,"[10-14Yrs, Male, 15-19Yrs, Male, 15-19Yrs, Fem..."
113,105-1.3 OPD New TB cases (Bacteriologically co...,old,TB,tb_cases_registered,TB cases registered in treatment unit,float,105-1.3 OPD New TB cases (Bacteriologically co...,"[29 Days-4 Years, Male, 5-59 Years, Male, 60an..."
114,105-1.3 OPD New TB cases (Clinically Diagnosed),old,TB,tb_cases_registered,TB cases registered in treatment unit,float,105-1.3 OPD New TB cases (Clinically Diagnosed),"[29 Days-4 Years, Female, 5-59 Years, Male, 5-..."
115,105-1.3 OPD New TB cases (EPTB),old,TB,tb_cases_registered,TB cases registered in treatment unit,float,105-1.3 OPD New TB cases (EPTB),"[5-59 Years, Female, 5-59 Years, Male, 29 Days..."

In [75]:
config2 = pd.merge(config, breakdown, 'left',right_on=['index','instance'],left_on=['name','instance'])

In [76]:
config2.to_csv('config/data_breakdown.csv')

# Get sample data for Jessica

In [50]:
TD=['PAKWACH',
 'NEBBI',
 'ZOMBO',
 'MADI OKOLLO',
 'ARUA',
 'MARACHA',
 'KOBOKO',
 'YUMBE',
 'MOYO',
 'OBONGI',
 'ADJUMANI']
TC = ['district',
       'name','orgUnit', 
       'year', 'month', 
       '4th_anc_visits','births', 'dpt3','vitamin_a']

In [72]:

outlier = pd.read_csv('data/output/outlier_data.csv')
std = pd.read_csv('data/output/std_no_outlier_data.csv')
district = pd.read_csv('data/input/static/facility_districts.csv')

outlier=pd.merge(outlier,district,how='left',left_on='orgUnit',right_on='id')
std=pd.merge(std,district,how='left',left_on='orgUnit',right_on='id')

outlier=outlier[TC]
std=std[TC]

outlier=outlier[outlier.district.isin(TD)]
std=std[std.district.isin(TD)]

outlier.to_csv('sample_outlier_data.csv')
std.to_csv('sample_std_data.csv')

In [77]:
std.head()

,district,name,orgUnit,year,month,4th_anc_visits,births,dpt3,vitamin_a
62,YUMBE,Alnoor HC II,A4g2J49bMOr,2018,Apr,14.0,8.0,56.0,1210.0
63,YUMBE,Alnoor HC II,A4g2J49bMOr,2018,Aug,13.0,9.0,38.0,NaN
64,YUMBE,Alnoor HC II,A4g2J49bMOr,2018,Dec,10.0,6.0,47.0,NaN
65,YUMBE,Alnoor HC II,A4g2J49bMOr,2018,Feb,5.0,12.0,29.0,NaN
66,YUMBE,Alnoor HC II,A4g2J49bMOr,2018,Jan,10.0,7.0,33.0,32.0

In [83]:
out=set(std_full.orgUnit.unique())
inn = set(new_district.id.unique())
 
print(len(out),len(out.intersection(inn)))

6304 6171

In [80]:
std_full=pd.read_csv('data/output/std_no_outlier_data.csv')

In [38]:
district = pd.read_csv('data/input/static/facility_districts.csv')
district.set_index('name',inplace=True)

zombo = pd.read_csv('data/input/static/zombo_facilities.csv')

ZF=list(zombo.organisationunitname.unique())

for f in ZF:
    try:
        district.loc[f,'district']='ZOMBO'
    except Exception as e:
        pass

In [40]:
district.to_csv('data/input/static/facility_districts.csv')

In [20]:
district.district.unique()

array(['ABIM', 'ADJUMANI', 'AGAGO', 'ALEBTONG', 'AMOLATAR', 'AMUDAT',
       'AMURIA', 'AMURU', 'APAC', 'ARUA', 'BUDAKA', 'BUDUDA', 'BUGIRI',
       'BUGWERI', 'BUHWEJU', 'BUIKWE', 'BUKEDEA', 'BUKOMANSIMBI', 'BUKWO',
       'BULAMBULI', 'BULIISA', 'BUNDIBUGYO', 'BUNYANGABU', 'BUSHENYI',
       'BUSIA', 'BUTALEJA', 'BUTAMBALA', 'BUTEBO', 'BUVUMA', 'BUYENDE',
       'DOKOLO', 'GOMBA', 'GULU', 'HOIMA', 'IBANDA', 'IGANGA', 'ISINGIRO',
       'JINJA', 'KAABONG', 'KABALE', 'KABAROLE', 'KABERAMAIDO', 'KAGADI',
       'KAKUMIRO', 'KALAKI', 'KALANGALA', 'KALIRO', 'KALUNGU', 'KAMPALA',
       'KAMULI', 'KAMWENGE', 'KANUNGU', 'KAPCHORWA', 'KAPELEBYONG',
       'KARENGA', 'KASESE', 'KASSANDA', 'KATAKWI', 'KAYUNGA', 'KAZO',
       'KIBAALE', 'KIBOGA', 'KIBUKU', 'KIKUUBE', 'KIRUHURA',
       'KIRYANDONGO', 'KISORO', 'KITAGWENDA', 'KITGUM', 'KOBOKO', 'KOLE',
       'KOTIDO', 'KUMI', 'KWANIA', 'KWEEN', 'KYANKWANZI', 'KYEGEGWA',
       'KYENJOJO', 'KYOTERA', 'LAMWO', 'LIRA', 'LUUKA', 'LUWERO',
       'LWENGO', 'LYANTONDE', 'MADI OKOLLO', 'MANAFWA', 'MARACHA',
       'MASAKA', 'MASINDI', 'MAYUGE', 'MBALE', 'MBARARA', 'MITOOMA',
       'MITYANA', 'MOROTO', 'MOYO', 'MPIGI', 'MUBENDE', 'MUKONO',
       'NABILATUK', 'NAKAPIRIPIRIT', 'NAKASEKE', 'NAKASONGOLA',
       'NAMAYINGO', 'NAMISINDWA', 'NAMUTUMBA', 'NAPAK', 'NEBBI', 'NGORA',
       'NTOROKO', 'NTUNGAMO', 'NWOYA', 'OBONGI', 'OMORO', 'OTUKE', 'OYAM',
       'PADER', 'PAKWACH', 'PALLISA', 'RAKAI', 'RUBANDA', 'RUBIRIZI',
       'RUKIGA', 'RUKUNGIRI', 'RWAMPARA', 'SERERE', 'SHEEMA', 'SIRONKO',
       'SOROTI', 'SSEMBABULE', 'TORORO', 'WAKISO', 'YUMBE'], dtype=object)

In [9]:
df = pd.read_csv('sample_std_data.csv')

df.district.unique()

array(['TORORO', 'KUMI', 'WAKISO', 'PADER', 'NAPAK', 'ARUA', 'BUKEDEA',
       'SERERE', 'LWENGO', 'OMORO', 'NAKASONGOLA', nan, 'KAMULI',
       'RUBIRIZI', 'BUVUMA', 'KAPCHORWA', 'BULIISA', 'KAKUMIRO', 'AMUDAT',
       'BUNDIBUGYO', 'KIBOGA', 'KABAROLE', 'KYENJOJO', 'BUTEBO',
       'KALUNGU', 'AMURIA', 'AGAGO', 'IGANGA', 'ADJUMANI', 'MASAKA',
       'LUUKA', 'KITGUM', 'MUKONO', 'KYANKWANZI', 'BUYENDE', 'KYOTERA',
       'SHEEMA', 'NTUNGAMO', 'KALAKI', 'NEBBI', 'DOKOLO', 'RWAMPARA',
       'IBANDA', 'KASESE', 'APAC', 'RUKUNGIRI', 'PAKWACH', 'BUSHENYI',
       'KOLE', 'MADI OKOLLO', 'MBARARA', 'KAPELEBYONG', 'KAZO', 'BUDUDA',
       'MAYUGE', 'KISORO', 'KATAKWI', 'NAMAYINGO', 'KIRYANDONGO', 'JINJA',
       'KAABONG', 'ISINGIRO', 'KAYUNGA', 'ABIM', 'BUTALEJA', 'KAMPALA',
       'MBALE', 'MOROTO', 'HOIMA', 'BUHWEJU', 'KWANIA', 'AMURU',
       'MASINDI', 'OBONGI', 'LIRA', 'KWEEN', 'KANUNGU', 'SOROTI', 'BUSIA',
       'BUNYANGABU', 'MITYANA', 'KABALE', 'MPIGI', 'KASSANDA', 'BUIKWE',
       'SIRONKO', 'OYAM', 'KAMWENGE', 'BUKWO', 'MUBENDE', 'GOMBA',
       'KABERAMAIDO', 'KALIRO', 'RUBANDA', 'BUDAKA', 'LUWERO', 'RAKAI',
       'BUGWERI', 'NABILATUK', 'AMOLATAR', 'GULU', 'BUGIRI', 'BUTAMBALA',
       'BULAMBULI', 'KAGADI', 'LYANTONDE', 'KALANGALA', 'ALEBTONG',
       'NAMISINDWA', 'NAMUTUMBA', 'LAMWO', 'KOBOKO', 'KYEGEGWA', 'KIBUKU',
       'MANAFWA', 'KIKUUBE', 'NAKAPIRIPIRIT', 'MITOOMA', 'NWOYA',
       'SSEMBABULE', 'KARENGA', 'RUKIGA', 'KIRUHURA', 'KITAGWENDA',
       'KIBAALE', 'BUKOMANSIMBI', 'KOTIDO', 'MOYO', 'NGORA', 'MARACHA',
       'NAKASEKE', 'PALLISA', 'YUMBE', 'NTOROKO', 'OTUKE'], dtype=object)

In [56]:
new_district=pd.read_csv('data/input/static/facility_district_rework.csv')

In [62]:
new_district=new_district[['orgunitlevel3','organisationunitid','organisationunitname']]

In [63]:
len(new_district)

7678

In [64]:
new_district.organisationunitid.nunique()

7678

In [65]:
new_district.rename(columns={'orgunitlevel3': "district", 'organisationunitid': 'id','organisationunitname':'name'},inplace=True)

In [66]:
new_district

                  district           id                              name
0            Oyam District  ftNNOiF8eLQ         L&S Medical Centre Clinic
1      Kyankwanzi District  SkWKqttPnXq                    Mirembe Clinic
2     Kiryandongo District  QHsCNVmRURq  St. Jude Thaddeos Karungu HC III
3         Mubende District  atHXbhmWAsh                 303 Brigade HC II
4            Moyo District  iNLsVN6SOQg  309 Brigade Military Moyo HC III
...                    ...          ...                               ...
7673        Zombo District  tuYjF238GTf                      Zumbo HC III
7674      Kampala District  CdeWhFwzuBl               Zzaazi Clinic HC II
7675       Wakiso District  J4WM8XQnHcP             Zzanta Medical Centre
7676       Masaka District  NTLrytYmRhO                      Zzimwe HC II
7677       Wakiso District  nYpQROJrK2y                      Zzinga HC II

[7678 rows x 3 columns]

In [67]:

district_name_dict = {'SEMBABULE': 'SSEMBABULE',
                          'MADI-OKOLLO': 'MADI OKOLLO',
                          'LUWEERO': 'LUWERO'}
new_district['district'] = new_district['district'].apply(lambda x: x[:-9].upper())
new_district['district'].replace(district_name_dict, inplace=True)

In [70]:
new_district.district.nunique()

135

In [71]:
new_district.to_csv('data/input/static/facility_districts.csv')