In [18]:
import pandas as pd

path = 'data/input/static/demographics/UBOS_pop_proj_2015-25.csv'

df = pd.read_csv(path)
df[['age','del']]=df['Single Years'].str.split(" ", expand=True)
df.drop(columns=['Single Years','del','FY','Year2'],inplace=True)
df

       District  Year  Male  Female  Total age
0          ABIM  2015  1950    2030   3980   0
1          ABIM  2016  2050    2130   4180   0
2          ABIM  2017  2150    2240   4390   0
3          ABIM  2018  2260    2350   4610   0
4          ABIM  2019  2370    2460   4830   0
...         ...   ...   ...     ...    ...  ..
120280    ZOMBO  2021  4770    4340   9110   9
120281    ZOMBO  2022  4910    4460   9370   9
120282    ZOMBO  2023  5040    4560   9600   9
120283    ZOMBO  2024  5180    4670   9850   9
120284    ZOMBO  2025  5310    4780  10090   9

[120285 rows x 6 columns]

In [14]:
# ['Single Years', 'District', 'Year', 'Male', 'Female', 'Year2', 'FY','Total']


# def clean_pop(df):

In [17]:
df

       District  Year  Male  Female  Year2       FY  Total age
0          ABIM  2015  1950    2030     16  2015/16   3980   0
1          ABIM  2016  2050    2130     17  2016/17   4180   0
2          ABIM  2017  2150    2240     18  2017/18   4390   0
3          ABIM  2018  2260    2350     19  2018/19   4610   0
4          ABIM  2019  2370    2460     20  2019/20   4830   0
...         ...   ...   ...     ...    ...      ...    ...  ..
120280    ZOMBO  2021  4770    4340     22  2021/22   9110   9
120281    ZOMBO  2022  4910    4460     23  2022/23   9370   9
120282    ZOMBO  2023  5040    4560     24  2023/24   9600   9
120283    ZOMBO  2024  5180    4670     25  2024/25   9850   9
120284    ZOMBO  2025  5310    4780     26  2025/26  10090   9

[120285 rows x 8 columns]