In [25]:
import numpy as np
import pandas as pd
import geopandas as gpd
from pyproj import CRS
from shapely.geometry import Point

# Hospital

In [30]:
hosp_path='../Data/Hospitals/hospital_map.csv'
poe_path='../Data/PoE/2_POE53_from_jenny.csv'

hosp_data = pd.read_csv(hosp_path)
poe_data = pd.read_csv(poe_path)

In [31]:
hosp_data = hosp_data[['Health Facility','Level','lon','lat']].copy()
hosp_data.rename(columns={'Health Facility':'name','Level':'level'},inplace=True)
hosp_data['type']= 'Hospital' 


poe_data.rename({'PoEs':'name','LON':'lon','LAT':'lat'},axis=1,inplace=True)
poe_data.drop(['District','#'],inplace=True,axis=1)
poe_data['level']='PoE'
poe_data['type']='PoE'

In [32]:
poe_data.head()

              name        lon       lat level type
0        Port Bell  32.654000  0.290000   PoE  PoE
1  Entebbe Airport  32.443055  0.044721   PoE  PoE
2          Kiyindi  33.145901  0.279041   PoE  PoE
3           Katosi  32.803276  0.143008   PoE  PoE
4         Mutukula  31.416706 -1.000000   PoE  PoE

In [33]:
poe_hosp_map=pd.concat([hosp_data,poe_data],ignore_index=True)

In [34]:
poe_hosp_map.tail()

                  name level        lon       lat type
6286            Kamion   PoE  34.233300  3.716700  PoE
6287  Kidepo Airstrip    PoE  33.752497  3.718164  PoE
6288         Madi Opei   PoE  33.201484  3.773955  PoE
6289        Ngor-omoro   PoE  32.576667  3.699167  PoE
6290            Waligo   PoE  32.363889  3.606667  PoE

In [35]:
poe_hosp_map.to_csv('../Data/Results/poe_hosp_map.csv')

# Roads

In [18]:
road_path='../Data/Roads/uga_trs_roads_osm.shp'
road_df = gpd.read_file(road_path)

In [19]:
road_target_df = road_df[['ntlclass','geometry']].copy()
road_target_df.rename({'ntlclass':'level'},axis=1,inplace=True)

In [20]:
road_target_df.head()

          level                                           geometry
0  unclassified  LINESTRING (30.81111 3.20032, 30.81102 3.19982...
1  unclassified  LINESTRING (30.35011 -0.00881, 30.35006 -0.008...
2  unclassified  LINESTRING (31.25898 3.69032, 31.25812 3.69025...
3         track  LINESTRING (30.82643 3.20231, 30.82661 3.20228...
4  unclassified  LINESTRING (31.25818 3.56422, 31.25819 3.56442...

In [21]:
road_target_df['level'].unique()

array(['unclassified', 'track', 'tertiary', 'road', 'primary_link',
       'tertiary_link', 'trunk_link', 'secondary_link', 'motorway_link',
       'secondary', 'primary', 'trunk', 'motorway'], dtype=object)

In [22]:
motorway=road_target_df[road_target_df['level']=='motorway'].copy()
trunk=road_target_df[road_target_df['level']=='trunk'].copy()
primary=road_target_df[road_target_df['level']=='primary'].copy()
secondary=road_target_df[road_target_df['level']=='secondary'].copy()
tertiary=road_target_df[road_target_df['level']=='tertiary'].copy()

In [23]:
len(motorway)

116

In [24]:
motorway.to_file('../Data/Results/Road shapes/motorway.shp')
trunk.to_file('../Data/Results/Road shapes/trunk.shp')
primary.to_file('../Data/Results/Road shapes/primary.shp')
secondary.to_file('../Data/Results/Road shapes/secondary.shp')
tertiary.to_file('../Data/Results/Road shapes/tertiary.shp')