In [76]:
data_path = "output"

In [77]:
fname = 'outlier_data.csv'

In [78]:
data = data_path + '/' + fname

In [79]:
import pandas as pd

In [80]:
df = pd.read_csv(data)

In [81]:
df

,orgUnit,year,month,1st_anc_visits,4th_anc_visits,actual_105_1_reporting,anc_initiated_hiv,anc_tested_hiv,anc_tested_hiv_positive,bcg,...,postnatal_visits,sam_identified,tb_cases_registered,td1,td2,td3,td4_5,tested_hiv,tested_hiv_positive,vitamin_a
0,A0KeWapELXA,2018,Apr,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0KeWapELXA,2018,Aug,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0KeWapELXA,2018,Dec,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0KeWapELXA,2018,Feb,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0KeWapELXA,2018,Jan,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168413,zyI8GDUVYdE,2020,Jan,159.0,36.0,1,1.0,156.0,1.0,65.0,...,147.0,NaN,5.0,65.0,65.0,26.0,162.0,NaN,NaN,205.0
168414,zyI8GDUVYdE,2020,Jul,125.0,21.0,1,1.0,125.0,1.0,NaN,...,160.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168415,zyI8GDUVYdE,2020,Jun,209.0,18.0,1,NaN,209.0,NaN,59.0,...,174.0,NaN,1.0,386.0,89.0,14.0,3.0,NaN,NaN,220.0
168416,zyI8GDUVYdE,2020,Mar,99.0,20.0,1,1.0,93.0,1.0,56.0,...,144.0,NaN,5.0,161.0,10.0,2.0,0.0,NaN,NaN,84.0
168417,zyI8GDUVYdE,2020,May,150.0,20.0,1,NaN,150.0,NaN,76.0,...,136.0,NaN,NaN,223.0,66.0,6.0,1.0,NaN,NaN,NaN

In [82]:
from datetime import datetime

In [83]:
df['date'] = df['year'].astype(str) + '-' + df['month']

In [85]:
def format_date(date):
    dates = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    assert len(dates) == 12
    year, month = date.split('-')
    month_order = str(dates.index(month)+1)
    month_order = '0' + month_order if len(month_order) == 1 else month_order
    return year + '-' + month_order + '-01'

In [86]:
df['date'] = df.date.apply(format_date)

In [87]:
df['type'] = ''

In [88]:
lookup = pd.read_csv('input/static/lookup_facilities.csv')

In [89]:
df = pd.merge(df, lookup, left_on='orgUnit', right_on='facilitycode', how='left')

In [91]:
rename_dict = {
    'districtname': 'id',
    'date': 'date',
    'year': 'year',
    'month': 'month',
    'orgUnit': 'facility_id',
    'type': 'type',
    '1st_anc_visits': '1st_anc_visits',
    '4th_anc_visits': '4th_anc_visits',
    'maternity_admissions' : 'maternity_admissions',
    'births':'deliveries_in_unit',
    'births_live': 'deliveries_in_unit_live',
    'births_fresh_stillbirth': 'deliveries_in_unit_fresh_stillbirth',
    'births_macerated_stillbirth': 'deliveries_in_unit_macerated_stillbirth',
    'newborn_deaths': 'newborn_deaths',
    'postnatal_visits': 'postnatal_visits',
    'low_weight_births': 'low_weigh_births',
    'bcg': 'bcg',
    'dpt1': 'dpt1',
    'dpt3': 'dpt3',
    'hpv1': 'hpv1',
    'hpv2': 'hpv2',
    'mr1': 'mr1',
    'pcv1': 'pcv1',
    'pcv3': 'pcv3',
    'td1': 'td1',
    'td2': 'td2',
    'td3': 'td3',
    'td4_5': 'td45',
    'malaria_cases': 'malaria_cases',
    'opd_attendance': 'opd_attendance',
    'malaria_cases_treated': 'malaria_cases_treated',
    'malaria_tests': 'malaria_tests',
    'mat_tested_hiv_positive': 'mat_tested_hiv_positive',
    'mat_tested_hiv': 'mat_tested_hiv',
    'malaria_deaths': 'malaria_deaths',
    'anc_tested_hiv': 'anc_tested_hiv',
    'anc_tested_hiv_positive': 'anc_tested_hiv_positive',
    'anc_initiated_hiv': 'anc_initiated_on_art',
    'tested_hiv': 'tested_hiv',
    'tested_hiv_positive': 'tested_hiv_positive',
    'hiv_positive_linked': 'hiv_positive_linked_to_care',
    'mat_initiated_hiv': 'mat_initiated_on_art',
    'pnc_tested_hiv': 'pnc_tested_hiv',
    'pnc_tested_hiv_positive': 'pnc_tested_hiv_positive',
    'pnc_initiated_hiv': 'pnc_initiated_on_art',
    'ipd_attendance': 'ipd_attendance',
    'tb_cases_registered': 'tb_cases_registered',
    'vitamin_a': 'number_of_doses_of_vitamin_a_distributed',
    'sam_identified': 'number_of_sam_admissions',
    'mam_identified' :'number_of_mam_admissions'    
    }

In [92]:
df

,orgUnit,year,month,1st_anc_visits,4th_anc_visits,actual_105_1_reporting,anc_initiated_hiv,anc_tested_hiv,anc_tested_hiv_positive,bcg,...,td3,td4_5,tested_hiv,tested_hiv_positive,vitamin_a,date,type,facilitycode,facilityname,districtname
0,A0KeWapELXA,2018,Apr,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-04-01,,A0KeWapELXA,HT Medical Clinic HCII,WAKISO
1,A0KeWapELXA,2018,Aug,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-08-01,,A0KeWapELXA,HT Medical Clinic HCII,WAKISO
2,A0KeWapELXA,2018,Dec,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-12-01,,A0KeWapELXA,HT Medical Clinic HCII,WAKISO
3,A0KeWapELXA,2018,Feb,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-02-01,,A0KeWapELXA,HT Medical Clinic HCII,WAKISO
4,A0KeWapELXA,2018,Jan,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-01-01,,A0KeWapELXA,HT Medical Clinic HCII,WAKISO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168413,zyI8GDUVYdE,2020,Jan,159.0,36.0,1,1.0,156.0,1.0,65.0,...,26.0,162.0,NaN,NaN,205.0,2020-01-01,,zyI8GDUVYdE,Namwendwa HC IV,KAMULI
168414,zyI8GDUVYdE,2020,Jul,125.0,21.0,1,1.0,125.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-07-01,,zyI8GDUVYdE,Namwendwa HC IV,KAMULI
168415,zyI8GDUVYdE,2020,Jun,209.0,18.0,1,NaN,209.0,NaN,59.0,...,14.0,3.0,NaN,NaN,220.0,2020-06-01,,zyI8GDUVYdE,Namwendwa HC IV,KAMULI
168416,zyI8GDUVYdE,2020,Mar,99.0,20.0,1,1.0,93.0,1.0,56.0,...,2.0,0.0,NaN,NaN,84.0,2020-03-01,,zyI8GDUVYdE,Namwendwa HC IV,KAMULI
168417,zyI8GDUVYdE,2020,May,150.0,20.0,1,NaN,150.0,NaN,76.0,...,6.0,1.0,NaN,NaN,NaN,2020-05-01,,zyI8GDUVYdE,Namwendwa HC IV,KAMULI

In [93]:
df.rename(columns=rename_dict, inplace=True)

In [94]:
df.columns

Index(['facility_id', 'year', 'month', '1st_anc_visits', '4th_anc_visits',
       'actual_105_1_reporting', 'anc_initiated_on_art', 'anc_tested_hiv',
       'anc_tested_hiv_positive', 'bcg', 'deliveries_in_unit',
       'deliveries_in_unit_fresh_stillbirth', 'deliveries_in_unit_live',
       'deliveries_in_unit_macerated_stillbirth', 'dpt1', 'dpt3',
       'expected_105_1_reporting', 'hiv_positive_linked_to_care', 'hpv1',
       'hpv2', 'ipd_attendance', 'low_weigh_births', 'malaria_cases',
       'malaria_cases_treated', 'malaria_deaths', 'malaria_tests',
       'number_of_mam_admissions', 'mat_initiated_on_art', 'mat_tested_hiv',
       'mat_tested_hiv_positive', 'maternity_admissions', 'mr1',
       'newborn_deaths', 'opd_attendance', 'pcv1', 'pcv3',
       'pnc_initiated_on_art', 'pnc_tested_hiv', 'pnc_tested_hiv_positive',
       'postnatal_visits', 'number_of_sam_admissions', 'tb_cases_registered',
       'td1', 'td2', 'td3', 'td45', 'tested_hiv', 'tested_hiv_positive',
       'number_of_doses_of_vitamin_a_distributed', 'date', 'type',
       'facilitycode', 'facilityname', 'id'],
      dtype='object')

In [95]:
df = df[rename_dict.values()]

In [96]:
df.shape

(168418, 50)

In [97]:
def replace_report(rep):
    rep_dict = {
        'not_expected_to_report': 'not_expected',
        'reported_on_this_indic': 'positive_indic',
        'did_not_report_on_this_indic': 'no_positive_indic',
        'did_not_report_on_this_indic_nor_on_105_1_form': 'no_form_report'
    }
    return rep_dict.get(rep, rep)

In [98]:
for col in df.columns:
    df[col] = df[col].apply(replace_report)

/tmp/ipykernel_28972/3374252364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(replace_report)

In [101]:
df.head()

,id,date,year,month,facility_id,type,1st_anc_visits,4th_anc_visits,maternity_admissions,deliveries_in_unit,...,hiv_positive_linked_to_care,mat_initiated_on_art,pnc_tested_hiv,pnc_tested_hiv_positive,pnc_initiated_on_art,ipd_attendance,tb_cases_registered,number_of_doses_of_vitamin_a_distributed,number_of_sam_admissions,number_of_mam_admissions
0,WAKISO,2018-04-01,2018,Apr,A0KeWapELXA,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WAKISO,2018-08-01,2018,Aug,A0KeWapELXA,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WAKISO,2018-12-01,2018,Dec,A0KeWapELXA,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WAKISO,2018-02-01,2018,Feb,A0KeWapELXA,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WAKISO,2018-01-01,2018,Jan,A0KeWapELXA,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df.to_csv(fname, index=False)