In [258]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter
import openpyxl
import geopandas as gpd
import math

In [171]:
input_path='../../data/input/dhis2/new_system/'
output_path='../../data/output/sprint3_analysis/'
shapes_path='../../data/shapes/district/districts_17_19.shp'
input_path_old='../../data/input/dhis2/old_system/'

In [172]:
df_Jan = pd.read_csv(input_path+'Data_elements_(Cases)_jan.csv')
df_Feb = pd.read_csv(input_path+'Data_elements_(Cases)_feb.csv')
df_Mar = pd.read_csv(input_path+'Data_elements_(Cases)_march.csv')
df_Apr = pd.read_csv(input_path+'Data_elements_(Cases)_april.csv')

# Some functions I'll use

In [174]:
districts = list(pd.read_csv(input_path+'districts.csv')["Districts"])

# To clean the data downloaded by Nancy in a stacked format

def get_clean_pivot_from_stack(indicator):
    df = pd.DataFrame(districts).reset_index(drop=True)

    Jan = df_Jan[df_Jan['Data']==indicator].drop('Data', axis=1)
    Feb = df_Feb[df_Feb['Data']==indicator].drop('Data', axis=1)
    March = df_Mar[df_Mar['Data']==indicator].drop('Data', axis=1)
    April = df_Apr[df_Apr['Data']==indicator].drop('Data', axis=1)
    
    #print(Jan.shape[0]+ Feb.shape[0]+ March.shape[0] + April.shape[0])

    df_final = Jan.merge(Feb,on='Organisation unit', how='outer').merge(March,on='Organisation unit', how='outer').merge(April,on='Organisation unit', how='outer')
    #df_final.columns = ["Districts", "Jan_"+indicator, "Feb_"+indicator, "Mar_"+indicator, "Apr_"+indicator]
    df_final.set_index('Organisation unit',drop=True, inplace=True)
    columns = [('2020',indicator,"Jan"), ('2020',indicator,"Feb"),('2020',indicator,"Mar"),('2020',indicator,"Apr")]
    df_final.columns=pd.MultiIndex.from_tuples(columns)
    return df_final

In [175]:
shapes = gpd.read_file(shapes_path)

# Creating a dict of names to replace dsirtcit names

def get_district_name_dict (df):
    keys = list(set(df.index).difference(set(shapes['name_19'])))
    values = list(set(shapes['name_19']).difference(set(df.index)))
    district_name = dict(zip(keys, values))
    return district_name

In [176]:
# build a small fucntion to split the string column name of the data download as pivot 

def split(strng, sep, occ):
    strng = strng.split(sep)
    return sep.join(strng[occ[1]:]), sep.join(strng[:occ[0]]), sep.join(strng[occ[0]:occ[1]])[:3]

In [177]:
# To clean the data downloaded in a pivot format

def get_clean_pivot(df):
    df['district']=df['organisationunitname'].apply(lambda x: x[:-9].upper())
    df.set_index('district',drop=True,inplace=True)
    cols = np.arange(0,4)
    df.drop(df.columns[cols],axis=1,inplace=True)
    df.rename(index=get_district_name_dict(df),inplace=True)
    cols=df.columns
    new_cols=[]
    for col in cols:
        new_cols.append(split(col,' ',[-2,-1]))
    df.columns=pd.MultiIndex.from_tuples(new_cols)
    return df

In [178]:
# To get year on year deltas over a list of months

def get_delta(df,st_year,end_year,indic,st_month,end_month):
    delta=((df[(end_year,indic,end_month)]
            -df[(st_year,indic,st_month)])
           /df[(st_year,indic,st_month)])
    return delta

In [179]:
# To get month on month deltas

def get_yoy_delta(df,indic,period):
    tot_18 = tot_19= tot_20 = np.zeros(135)
    for month in period:
        tot_18= tot_18+list(df[('2018',indic,month)])
        tot_19= tot_19+list(df[('2019',indic,month)])
        tot_20= tot_20+list(df[('2020',indic,month)])
    delta =  (tot_20-tot_19)/tot_19
    return tot_18,tot_19,tot_20,delta

# First batch of data downloaded by nancy of the new system

# Data elements

In [180]:
multi_index=pd.MultiIndex.from_tuples([('Test','test','test')])
data_elements=pd.DataFrame(index=districts,columns=multi_index)

In [181]:
indicators = df_Jan['Data'].unique()
for indicator in indicators:
    df_months = get_clean_pivot_from_stack(indicator)
    data_elements = pd.merge(data_elements, df_months, how='left',left_index=True,right_index=True)

In [182]:
data_elements

                     Test                                              2020  \
                     test 033B-TB04. New and Relapse TB cases started on TX
                     test                                               Jan
Organisation unit
Amuria District       NaN                                               NaN
Sironko District      NaN                                               6.0
Kitgum District       NaN                                               2.0
Kitagwenda District   NaN                                               NaN
Kaberamaido District  NaN                                               3.0
...                   ...                                               ...
Ntungamo District     NaN                                               NaN
Bududa District       NaN                                               2.0
Karenga District      NaN                                               NaN
Mayuge District       NaN                                               NaN
Sembabule District    NaN                                               NaN

                                                                            \
                                       033B-RV07. RE Blister of 28 tablets
                       Feb   Mar   Apr                                 Jan
Organisation unit
Amuria District        4.0   8.0   2.0                                 NaN
Sironko District       9.0   7.0   NaN                                29.0
Kitgum District       33.0  16.0  24.0                               792.0
Kitagwenda District   10.0  13.0   5.0                                 NaN
Kaberamaido District   6.0   NaN   1.0                               458.0
...                    ...   ...   ...                                 ...
Ntungamo District     37.0  26.0  42.0                                46.0
Bududa District        7.0   8.0   6.0                              8420.0
Karenga District       NaN   6.0   3.0                                 NaN
Mayuge District       11.0  26.0  24.0                                 NaN
Sembabule District     1.0   9.0  12.0                              1632.0

                                                   \

                          Feb       Mar       Apr
Organisation unit
Amuria District         470.0     782.0    3740.0
Sironko District      10312.0    7973.0   11770.0
Kitgum District       14510.0   12564.0   80269.0
Kitagwenda District    1400.0    1036.0    2815.0
Kaberamaido District   1209.0    1488.0    1232.0
...                       ...       ...       ...
Ntungamo District     66951.0  121424.0   57038.0
Bududa District        5604.0   96190.0  158584.0
Karenga District        713.0    1150.0    1993.0
Mayuge District       11615.0    6412.0   12580.0
Sembabule District     5329.0   10678.0    7385.0

                                                     ...  \
                     033B-CD02a. Dysentery  - Cases  ...
                                                Jan  ...
Organisation unit                                    ...
Amuria District                                 NaN  ...
Sironko District                                NaN  ...
Kitgum District                                39.0  ...
Kitagwenda District                             NaN  ...
Kaberamaido District                            NaN  ...
...                                             ...  ...
Ntungamo District                               NaN  ...
Bududa District                                 NaN  ...
Karenga District                                NaN  ...
Mayuge District                                 NaN  ...
Sembabule District                              NaN  ...

                                                                  \
                     033B-CD14d. Hepatitis B- Cases Positive
                                                         Mar Apr
Organisation unit
Amuria District                                          NaN NaN
Sironko District                                         NaN NaN
Kitgum District                                          NaN NaN
Kitagwenda District                                      NaN NaN
Kaberamaido District                                     NaN NaN
...                                                      ...  ..
Ntungamo District                                        NaN NaN
Bududa District                                          NaN NaN
Karenga District                                         NaN NaN
Mayuge District                                          NaN NaN
Sembabule District                                       NaN NaN

                                                                            \
                     033B-CD13d. Typhoid Fever- Cases Positive
                                                           Jan Feb Mar Apr
Organisation unit
Amuria District                                            NaN NaN NaN NaN
Sironko District                                           NaN NaN NaN NaN
Kitgum District                                            NaN NaN NaN NaN
Kitagwenda District                                        NaN NaN NaN NaN
Kaberamaido District                                       NaN NaN NaN NaN
...                                                        ...  ..  ..  ..
Ntungamo District                                          NaN NaN NaN NaN
Bududa District                                            NaN NaN NaN NaN
Karenga District                                           NaN NaN NaN NaN
Mayuge District                                            NaN NaN NaN NaN
Sembabule District                                         NaN NaN NaN NaN

                                                                            \
                     033B-HI11b. Adverse Drug Reactions (ADR) - Deaths
                                                                   Jan Feb
Organisation unit
Amuria District                                                    NaN NaN
Sironko District                                                   NaN NaN
Kitgum District                                                    NaN NaN
Kitagwenda District                                                NaN NaN
Kaberamaido District                                               NaN NaN
...                                                                ...  ..
Ntungamo District                                                  NaN NaN
Bududa District                                                    NaN NaN
Karenga District                                                   NaN NaN
Mayuge District                                                    NaN NaN
Sembabule District                                                 NaN NaN



                     Mar Apr
Organisation unit
Amuria District      NaN NaN
Sironko District     NaN NaN
Kitgum District      NaN NaN
Kitagwenda District  NaN NaN
Kaberamaido District NaN NaN
...                   ..  ..
Ntungamo District    NaN NaN
Bududa District      NaN NaN
Karenga District     NaN NaN
Mayuge District      NaN NaN
Sembabule District   NaN NaN

[135 rows x 393 columns]

In [183]:
data_elements.drop('test',axis=1,inplace=True,level=2)

In [184]:
null_sum1= data_elements.count()/135

# Indicators

In [185]:
df_Jan = pd.read_csv(input_path+'Indicator_January.csv')
df_Feb = pd.read_csv(input_path+'Indicator_Feb.csv')
df_Mar = pd.read_csv(input_path+'Indicator_march.csv')
df_Apr = pd.read_csv(input_path+'Indicator_April.csv')

In [186]:
districts = df_Feb[df_Feb['Data']=='EPI - BCG doses given']['Organisation unit'].unique()
multi_index=pd.MultiIndex.from_tuples([('Test','test','test')])

In [187]:
data_Indicators=pd.DataFrame(index=districts,columns=multi_index)

In [188]:
indicators = df_Jan['Data'].unique()
for indicator in indicators:
    df_months = get_clean_pivot_from_stack(indicator)
    data_Indicators = pd.merge(data_Indicators, df_months, how='left',left_index=True,right_index=True)

In [189]:
data_Indicators.reset_index(inplace=True)
data_Indicators=data_Indicators.groupby('index',axis=0).mean() # This shouldnt be needed, there might be a bug

C:\Users\Dalberg\anaconda3\envs\icohs\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [190]:
null_sum2= data_Indicators.count()/135

# Putting the data together and matching district to shapefiles

In [285]:
# Looking at data quality and null data in one place

null_sum=pd.concat([null_sum1,null_sum2])
null_sum_df = pd.DataFrame(null_sum)
null_sum_df.columns = ['% of data available']
null_sum_df.index.rename(['year','indicator','month'],inplace=True)
null_av_df=null_sum_df.groupby('indicator')['% of data available'].mean()

In [192]:
#Putting both our data together
data=pd.merge(data_Indicators,data_elements,how='inner',left_index=True,right_index=True)

In [193]:
# Using the same name format as in our shapefile

data.rename(index=lambda s: s [:-9],inplace=True)
data.rename(index=str.upper,inplace=True)

In [194]:
data.head()

                                                     2020                 \
         105- Total Linked to HIV care (1-4 Yrs) - Female
                                                      Jan  Feb  Mar  Apr
ABIM                                                  NaN  0.0  0.0  2.0
ADJUMANI                                              1.0  1.0  NaN  0.0
AGAGO                                                 0.0  0.0  0.0  1.0
ALEBTONG                                              NaN  NaN  1.0  NaN
AMOLATAR                                              0.0  NaN  1.0  NaN

                                                                        \
         105- Total Linked to HIV care (1-4 Yrs) - Male
                                                    Jan  Feb  Mar  Apr
ABIM                                                NaN  0.0  0.0  NaN
ADJUMANI                                            1.0  0.0  3.0  1.0
AGAGO                                               0.0  2.0  1.0  0.0
ALEBTONG                                            1.0  NaN  NaN  NaN
AMOLATAR                                            2.0  NaN  NaN  1.0

                                                                 ...  \
         105- Total Linked to HIV care (10-14Yrs) - Female       ...
                                                       Jan  Feb  ...
ABIM                                                   NaN  NaN  ...
ADJUMANI                                               0.0  0.0  ...
AGAGO                                                  0.0  1.0  ...
ALEBTONG                                               0.0  1.0  ...
AMOLATAR                                               0.0  NaN  ...

                                                      \
         033B-CD14d. Hepatitis B- Cases Positive
                                             Mar Apr
ABIM                                         NaN NaN
ADJUMANI                                     NaN NaN
AGAGO                                        NaN NaN
ALEBTONG                                     NaN NaN
AMOLATAR                                     NaN NaN

                                                                \
         033B-CD13d. Typhoid Fever- Cases Positive
                                               Jan Feb Mar Apr
ABIM                                           NaN NaN NaN NaN
ADJUMANI                                       NaN NaN NaN NaN
AGAGO                                          NaN NaN NaN NaN
ALEBTONG                                       NaN NaN NaN NaN
AMOLATAR                                       NaN NaN NaN NaN


         033B-HI11b. Adverse Drug Reactions (ADR) - Deaths
                                                       Jan Feb Mar Apr
ABIM                                                   NaN NaN NaN NaN
ADJUMANI                                               NaN NaN NaN NaN
AGAGO                                                  NaN NaN NaN NaN
ALEBTONG                                               NaN NaN NaN NaN
AMOLATAR                                               NaN NaN NaN NaN

[5 rows x 1444 columns]

In [195]:
# Modifying the names to extacly fit whats in the shapefile

shapes = gpd.read_file(shapes_path)

In [196]:
data.rename(index=get_district_name_dict(data),inplace=True)

print(list(set(data.index).difference(set(shapes['name_19']))))

[]

# Selecting both relevant and well reported indicators

In [197]:
# Relevant ones, based on my manual selection

target = pd.read_excel(input_path+'Data summary.xlsx',sheet_name='target')

In [198]:
# Well reported ones, based on number of nulls

#null_av_df.to_csv(output_path+'null_values_summary.csv')

with ExcelWriter(input_path+'Data summary.xlsx',mode='a') as writer:
   null_av_df.to_excel(writer,sheet_name='null_values_summary')

PermissionError: [Errno 13] Permission denied: '../../data/input/dhis2/new_system/Data summary.xlsx'

In [199]:
#both

target = pd.merge(target,null_av_df,left_on='Var',right_on='indicator',how='left')
target['keep']=(target['% of data available']>0.7)

In [200]:
target_indicators=list(target.loc[target['keep']==1,'Var'])

# Look at EPI data

## Look at the new data

In [201]:
epi_target=['EPI - BCG doses given',
            #'EPI - BCG to MR 1 dropout rate (%)',
            #'EPI - DPT 1 to DPT3 dropout rate (%)',
            #'EPI - HPV1 doses given',
            #'EPI - HPV2 doses given',
            'EPI - PCV 1 doses_Under 1',
            #'EPI - PCV 2 doses_Under 1',
            'EPI - PCV 3 doses_Under 1',
            'EPI - MR 1 doses given',
            #'EPI - MR 2 doses given']
            'EPI - DPT-HepB-HIB 1 doses given',
            'EPI - DPT-HepB-HIB 3 doses given']
            

# HPV1&2 + MR2 excluded due to low or unstable reporting rates
# PCV2 is excluded to include only first and last dose (mirroring DPT HepB)
# Drop out rates excluded because theyinclude consistently negative drop out rates

In [202]:
new_epi=data.iloc[:, data.columns.get_level_values(1).isin(epi_target)].copy()
#new_epi.reset_index(inplace=True)

In [203]:
# Is the delta over 4 month the best measure?

print(null_sum.loc['2020',epi_target,['Jan','Feb','Mar','Apr']])

# Looks like yes, as the reporting rates seem steady over the period

year  indicator                         month
2020  EPI - BCG doses given             Jan      1.0
                                        Feb      1.0
                                        Mar      1.0
                                        Apr      1.0
      EPI - PCV 1 doses_Under 1         Jan      1.0
                                        Feb      1.0
                                        Mar      1.0
                                        Apr      1.0
      EPI - PCV 3 doses_Under 1         Jan      1.0
                                        Feb      1.0
                                        Mar      1.0
                                        Apr      1.0
      EPI - DPT-HepB-HIB 1 doses given  Jan      1.0
                                        Feb      1.0
                                        Mar      1.0
                                        Apr      1.0
      EPI - DPT-HepB-HIB 3 doses given  Jan      1.0
                                        Feb      1.0
                                        Mar      1.0
                                        Apr      1.0
      EPI - MR 1 doses given            Jan      1.0
                                        Feb      1.0
                                        Mar      1.0
                                        Apr      1.0
dtype: float64

In [204]:
for indicator in epi_target:
    new_epi[('2020',indicator,'delta_jan_20_apr_20')]=get_delta(df=new_epi,
                                                        st_year='2020',
                                                        end_year='2020',
                                                        indic=indicator,
                                                        st_month='Jan',
                                                        end_month='Apr')

Weird phenomenon : negative drop out rates 

"Check for inconsistency in related indicators – **An example of such inconsistency is when there is a negative dropout over a full year** between the number of children receiving the first dose of DPT vaccine and the number receiving the third dose of the vaccine.  Another example, as illustrated in Figure 1 above, is inconsistency between the number of children receiving DPT vaccine and the number of children receiving OPV vaccine.  Yet another example is when there is a negative “wastage rate” (discussed below) -- when the number of children reported to have received a vaccine is greater than the number of doses of the vaccine reported to have been consumed."

from this [WHO document](https://www.who.int/healthinfo/FacilityAnalysisGuide_Immunization.pdf?ua=1#page=11)

## Add in the EPI data from the old DHIS2 instance

In [205]:
old_epi=pd.read_csv(input_path_old+'epi_data_2018_19.csv')

In [206]:
# get this to a clean state

old_epi=get_clean_pivot(old_epi)

In [207]:
# drop the period Iam not interested in for now, to be updated if nw data comes in

dropped_months=['Jun','Jul','Aug','Sep','Oct','Nov','Dec']
old_epi.drop(dropped_months,axis=1,inplace=True,level=2)

In [208]:
# Use the same naming convention for indicator as the new DHIS2 instance

old_names= list(old_epi.columns.levels[1])

new_names = ['EPI - DPT-HepB-HIB 1 doses given',
            'EPI - DPT-HepB-HIB 2 doses given',
            'EPI - DPT-HepB-HIB 3 doses given',
            'EPI - BCG doses given',
            'EPI - HPV1 doses given',
            'EPI - HPV2 doses given',
            'EPI - HPV3 doses given',
            'EPI - MR 1 doses given',
            'EPI - PCV 1 doses_Under 1',
            'EPI - PCV 2 doses_Under 1',
            'EPI - PCV 3 doses_Under 1']
            
indicator_name = dict(zip(old_names, new_names))
old_epi.columns.set_levels(list(indicator_name.values()),level=1,inplace=True)

indicator_name

{'DPT1 Under1': 'EPI - DPT-HepB-HIB 1 doses given',
 'DPT2 Under1': 'EPI - DPT-HepB-HIB 2 doses given',
 'DPT3 Under1': 'EPI - DPT-HepB-HIB 3 doses given',
 'EPI - BCG doses given': 'EPI - BCG doses given',
 'HPV1': 'EPI - HPV1 doses given',
 'HPV2': 'EPI - HPV2 doses given',
 'HPV3': 'EPI - HPV3 doses given',
 'Measles Under1': 'EPI - MR 1 doses given',
 'PCV 1 Under1': 'EPI - PCV 1 doses_Under 1',
 'PCV 2 Under1': 'EPI - PCV 2 doses_Under 1',
 'PCV 3 Under1': 'EPI - PCV 3 doses_Under 1'}

In [209]:
# get the Jan-Apr deltas for 2019

for indicator in epi_target:
    old_epi[('2019',indicator,'delta_jan_19_apr_19')]=get_delta(df=old_epi,
                                                        st_year='2019',
                                                        end_year='2019',
                                                        indic=indicator,
                                                        st_month='Jan',
                                                        end_month='Apr')

## Pull all in one df

In [210]:
epi_df=pd.merge(new_epi,old_epi,how='inner',left_index=True,right_index=True)
#new_epi.columns=new_epi.columns.map("_".join)

In [211]:
# get the Mar+Apr deltas for 2019 vs 2020
period=['Mar','Apr']

for indicator in epi_target:
    (epi_df[('2018',indicator,'period_total')],
    epi_df[('2019',indicator,'period_total')],
    epi_df[('2020',indicator,'period_total')],
    epi_df[('2020',indicator,'delta_per_19_per_20')]) = get_yoy_delta(epi_df,indicator,period)

In [212]:
# Get an average for all vaccines distributed

epi_total=epi_df.iloc[:, epi_df.columns.get_level_values(2)=='period_total'].groupby(level=0,axis=1).sum().copy()

epi_df[('2018','all vaccines','period_total')]=epi_total['2018']
epi_df[('2019','all vaccines','period_total')]=epi_total['2019']
epi_df[('2020','all vaccines','period_total')]=epi_total['2020']
epi_df[('2020','all vaccines','delta_per_19_per_20')]=(epi_total['2020']-epi_total['2019'])/epi_total['2019']

## Get that to CSV

In [213]:
epi_export_df=epi_df.copy()
epi_export_df.columns=epi_df.columns.map("_".join)
epi_export_df.to_csv(output_path+'epi_map.csv')

# Look at SAM data

## New data

In [271]:
sam_target_a=['NUT: Percentage of children/babies born with low birth weight (<2.5kg)',
              'NUT: Percentage of pregnant women with Hb level <10g/dl or diagnosed with Anaemia at ANC 1st visit',
              'NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery']

sam_target_b=['105-NA02a1. Children that are underweight (W/A ‚â§-2 SD)',
              '105-NA03a1. Identified malnourished clients(<10) this month - MAM using MUAC',
              #'108-NA01a1. Total number of SAM admissions in ITC',
              #'108-NA01b1. Number of new SAM admissions in ITC',
              '105-NA03d1. Identified malnourished clients(<10) this month - SAM using W/H or L',
              '105-NA03g1. Identified malnourished clients(<10) this month - Severely Malnourished',
              '105-NA04b1. SAM admissions(<10) in OTC this month - New using MUAC',
              #'105-NA04c1. SAM admissions(<10) in OTC this month - New using W/H or L Z-score',
              '105-NA04a1. SAM admissions(<10) in OTC this month - Old']

sam_admission=['105-NA04b1. SAM admissions(<10) in OTC this month - New using MUAC',
              '105-NA04c1. SAM admissions(<10) in OTC this month - New using W/H or L Z-score',
              '105-NA04a1. SAM admissions(<10) in OTC this month - Old']

# MAM stands for moderate acute malnutrition
# The data was download in two batches, one as in tall format with one file for each month, the other as a pivot 

# Many of those indicators not reported in the old dataset, hence dropped looking at old data

In [276]:
sam_target = [*sam_target_b,*sam_target_a]

In [277]:
sam_target

['105-NA02a1. Children that are underweight (W/A ‚â§-2 SD)',
 '105-NA03a1. Identified malnourished clients(<10) this month - MAM using MUAC',
 '105-NA03d1. Identified malnourished clients(<10) this month - SAM using W/H or L',
 '105-NA03g1. Identified malnourished clients(<10) this month - Severely Malnourished',
 '105-NA04b1. SAM admissions(<10) in OTC this month - New using MUAC',
 '105-NA04a1. SAM admissions(<10) in OTC this month - Old',
 'NUT: Percentage of children/babies born with low birth weight (<2.5kg)',
 'NUT: Percentage of pregnant women with Hb level <10g/dl or diagnosed with Anaemia at ANC 1st visit',
 'NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery']

### Look at reporting of the new data

In [278]:
# get the data we already formatted earlier

new_sam_a=data.iloc[:, data.columns.get_level_values(1).isin(sam_target_a)].copy()

In [279]:
# get my batch b in  pivot form

new_sam_b=pd.read_csv(input_path+'sam_data_elements_pivot.csv')
new_sam_b=get_clean_pivot(new_sam_b)

In [280]:
dropped_months=['Nov','Dec']
new_sam_b.drop(dropped_months,axis=1,inplace=True,level=2)

### Look at reporting for the new data

In [286]:
null_sum3= new_sam_b.count()/135
null_sum=pd.concat([null_sum,null_sum3])

In [287]:
print(null_sum.loc['2020',sam_target,['Jan','Feb','Mar','Apr']])

year  indicator                                                                                           month
2020  NUT: Percentage of children/babies born with low birth weight (<2.5kg)                              Jan      0.992593
                                                                                                          Feb      1.000000
                                                                                                          Mar      1.000000
                                                                                                          Apr      0.992593
      NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery                 Jan      1.000000
                                                                                                          Feb      1.000000
                                                                                                          Mar      1.000000
                                                                                                          Apr      0.992593
      NUT: Percentage of pregnant women with Hb level <10g/dl or diagnosed with Anaemia at ANC 1st visit  Jan      0.762963
                                                                                                          Feb      0.800000
                                                                                                          Mar      0.792593
                                                                                                          Apr      0.770370
      105-NA02a1. Children that are underweight (W/A ‚â§-2 SD)                                            Jan      0.725926
                                                                                                          Feb      0.800000
                                                                                                          Mar      0.755556
                                                                                                          Apr      0.725926
      105-NA03a1. Identified malnourished clients(<10) this month - MAM using MUAC                        Jan      0.896296
                                                                                                          Feb      0.940741
                                                                                                          Mar      0.874074
                                                                                                          Apr      0.896296
      105-NA03g1. Identified malnourished clients(<10) this month - Severely Malnourished                 Jan      0.548148
                                                                                                          Feb      0.600000
                                                                                                          Mar      0.562963
                                                                                                          Apr      0.540741
      105-NA04b1. SAM admissions(<10) in OTC this month - New using MUAC                                  Jan      0.659259
                                                                                                          Feb      0.696296
                                                                                                          Mar      0.644444
                                                                                                          Apr      0.614815
      105-NA04a1. SAM admissions(<10) in OTC this month - Old                                             Jan      0.674074
                                                                                                          Feb      0.703704
                                                                                                          Mar      0.644444
                                                                                                          Apr      0.614815
dtype: float64

### Put together batch a and b

In [222]:
new_sam=pd.merge(new_sam_a,new_sam_b,how='inner',left_index=True, right_index=True)

In [223]:
new_sam

                                                                           2020  \
         NUT: Percentage of children/babies born with low birth weight (<2.5kg)
                                                                            Jan
ABIM                                                   4.60
ADJUMANI                                               9.00
AGAGO                                                  9.90
ALEBTONG                                               7.20
AMOLATAR                                               0.72
...                                                     ...
SOROTI                                                 9.40
TORORO                                                 6.10
WAKISO                                                 5.40
YUMBE                                                  6.80
ZOMBO                                                  8.00

                           \

          Feb   Mar   Apr
ABIM      6.4   6.1   6.3
ADJUMANI  7.0   9.3   9.8
AGAGO     7.7   9.6   8.0
ALEBTONG  3.6   7.5   7.7
AMOLATAR  3.5   4.1   2.7
...       ...   ...   ...
SOROTI    6.7   7.9   8.3
TORORO    5.2   4.6   6.7
WAKISO    8.0   8.2   6.7
YUMBE     5.4   7.0   6.0
ZOMBO     9.1  11.0  27.6

                                                                                              \
         NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery
                                                                                         Jan
ABIM                                                   89.0
ADJUMANI                                              115.0
AGAGO                                                  83.0
ALEBTONG                                               98.9
AMOLATAR                                              105.8
...                                                     ...
SOROTI                                                 88.1
TORORO                                                101.7
WAKISO                                                 86.8
YUMBE                                                  75.9
ZOMBO                                                  99.8

                               \

            Feb    Mar    Apr
ABIM      100.4   92.1   64.6
ADJUMANI  107.8   87.1   96.7
AGAGO      91.7   57.7   92.8
ALEBTONG   97.8  116.1   98.3
AMOLATAR   74.2   82.0   88.4
...         ...    ...    ...
SOROTI    100.0  101.2  100.6
TORORO    105.9   67.1   99.7
WAKISO     89.2  100.5   95.3
YUMBE      94.0  102.7   94.3
ZOMBO     103.2   86.8  107.2

                                                                                                             \
         NUT: Percentage of pregnant women with Hb level <10g/dl or diagnosed with Anaemia at ANC 1st visit
                                                                                                        Jan
ABIM                                                   20.6
ADJUMANI                                               23.9
AGAGO                                                   9.0
ALEBTONG                                                NaN
AMOLATAR                                                NaN
...                                                     ...
SOROTI                                                  7.6
TORORO                                                  0.0
WAKISO                                                  4.2
YUMBE                                                  19.6
ZOMBO                                                   5.7

                ...  \
                ...
           Feb  ...
ABIM      16.7  ...
ADJUMANI  10.4  ...
AGAGO     11.1  ...
ALEBTONG   NaN  ...
AMOLATAR   NaN  ...
...        ...  ...
SOROTI     3.8  ...
TORORO     0.0  ...
WAKISO     2.3  ...
YUMBE     10.1  ...
ZOMBO      1.7  ...

                                                                             \
         105-NA04b1. SAM admissions(<10) in OTC this month - New using MUAC
                                                                        Mar
ABIM                                                   28.0
ADJUMANI                                               20.0
AGAGO                                                   6.0
ALEBTONG                                                NaN
AMOLATAR                                                NaN
...                                                     ...
SOROTI                                                  NaN
TORORO                                                  7.0
WAKISO                                                 17.0
YUMBE                                                  31.0
ZOMBO                                                   2.0

                \

           Apr
ABIM      44.0
ADJUMANI  19.0
AGAGO      5.0
ALEBTONG   NaN
AMOLATAR   0.0
...        ...
SOROTI     0.0
TORORO     0.0
WAKISO     0.0
YUMBE     46.0
ZOMBO      NaN

                                                                                         \
         105-NA04c1. SAM admissions(<10) in OTC this month - New using W/H or L Z-score
                                                                                    Jan
ABIM                                                    NaN
ADJUMANI                                                NaN
AGAGO                                                   NaN
ALEBTONG                                                NaN
AMOLATAR                                                NaN
...                                                     ...
SOROTI                                                  NaN
TORORO                                                  NaN
WAKISO                                                  NaN
YUMBE                                                   NaN
ZOMBO                                                   NaN

                                                                              \
                     105-NA04a1. SAM admissions(<10) in OTC this month - Old
         Feb Mar Apr                                                     Jan
ABIM     NaN NaN NaN                                               39.0
ADJUMANI NaN NaN NaN                                               23.0
AGAGO    NaN NaN NaN                                                3.0
ALEBTONG NaN NaN NaN                                                8.0
AMOLATAR NaN NaN NaN                                                1.0
...       ..  ..  ..                                                ...
SOROTI   NaN NaN NaN                                                3.0
TORORO   NaN NaN NaN                                                1.0
WAKISO   NaN NaN NaN                                               14.0
YUMBE    NaN NaN NaN                                               32.0
ZOMBO    NaN NaN NaN                                                NaN



           Feb   Mar   Apr
ABIM      39.0  44.0  86.0
ADJUMANI  41.0  22.0  23.0
AGAGO      4.0   6.0   7.0
ALEBTONG   NaN   NaN   NaN
AMOLATAR   2.0   NaN   0.0
...        ...   ...   ...
SOROTI     NaN   NaN   5.0
TORORO     3.0   4.0   0.0
WAKISO     8.0   5.0   0.0
YUMBE     52.0  47.0  53.0
ZOMBO      NaN   3.0   1.0

[135 rows x 48 columns]

In [224]:
# get the Jan-Apr deltas for 2019

for indicator in sam_target:
    new_sam[('2020',indicator,'delta_jan_20_apr_20')]=get_delta(df=new_sam,
                                                        st_year='2020',
                                                        end_year='2020',
                                                        indic=indicator,
                                                        st_month='Jan',
                                                        end_month='Apr')

In [225]:
new_sam.replace(np.inf, np.nan,inplace=True)

In [226]:
# manually excluding 2 outliers 

new_sam.loc['KABALE',('2020','NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery','delta_jan_20_apr_20')]=np.nan
new_sam.loc['BUTAMBALA',('2020','NUT: Percentage of children/babies born with low birth weight (<2.5kg)','delta_jan_20_apr_20')]=np.nan

## Look at old data for LBW

In [227]:
old_sam=pd.read_csv(input_path_old+'sam_partial_data_2018_19.csv')

In [228]:
# get this to a clean state

old_sam=get_clean_pivot(old_sam)

In [229]:
# drop the period Iam not interested in for now, to be updated if nw data comes in

dropped_months=['Jun','Jul','Aug','Sep','Oct','Nov','Dec']
old_sam.drop(dropped_months,axis=1,inplace=True,level=2)

In [230]:
# Use the same naming convention for indicator as the new DHIS2 instance

old_names= list(old_sam.columns.levels[1])

new_names=['NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery',
              'NUT: Percentage of children/babies born with low birth weight (<2.5kg)',
              '105-NA02a1. Children that are underweight (W/A ‚â§-2 SD)']

indicator_name = dict(zip(old_names, new_names))
old_sam.columns.set_levels(list(indicator_name.values()),level=1,inplace=True)

indicator_name

{'Percent of mothers initiating breastfeeding within 1 hour after birth': 'NUT: Percentage of mothers initiating breast feeding within 1st hour after delivery',
 'Percentage of babies born with low birth weight (<2500 g)': 'NUT: Percentage of children/babies born with low birth weight (<2.5kg)',
 'Underweight rate of children under 5': '105-NA02a1. Children that are underweight (W/A ‚â§-2 SD)'}

In [231]:

sam_df=pd.merge(new_sam,old_sam,how='inner',left_index=True, right_index=True)

In [232]:
# get the Mar+Apr deltas for 2019 vs 2020
period=['Mar','Apr']

for indicator in new_names:
    (sam_df[('2018',indicator,'period_total')],
    sam_df[('2019',indicator,'period_total')],
    sam_df[('2020',indicator,'period_total')],
    sam_df[('2020',indicator,'delta_per_19_per_20')]) = get_yoy_delta(sam_df,indicator,period)

In [233]:
outliers=['KAZO','KIBOGA','KWEEN','BUTAMBALA']

for o in outliers:
    sam_df.loc[o,('2020','NUT: Percentage of children/babies born with low birth weight (<2.5kg)','delta_per_19_per_20')]=np.nan
    sam_df.loc[o,('2019','NUT: Percentage of children/babies born with low birth weight (<2.5kg)','period_total')]=np.nan
    sam_df.loc[o,('2020','NUT: Percentage of children/babies born with low birth weight (<2.5kg)','period_total')]=np.nan
    sam_df.loc[o,('2018','NUT: Percentage of children/babies born with low birth weight (<2.5kg)','period_total')]=np.nan

## Get that to csv

In [234]:
sam_export_df=sam_df.copy()
sam_export_df.columns=sam_df.columns.map("_".join)
sam_export_df.to_csv(output_path+'sam_map.csv')

Note that I am not looking at old data here, because I coul not find teh corresponding indicators execpt for two of them